@{
    string connectionID = ViewBag.ConnectionID;
}

<form onsubmit="return connect(event, 'create-connection-msg')" action="@Url.Action("Connect", "Connection")" method="post">
    <div class="modal" tabindex="-1" role="dialog" id="defaultModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Connect to a Device</h5>
                    <button type="button" class="close" data-dismiss="#defaultModal" aria-label="Close" onclick='$("#defaultModal").modal("hide");'>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" value="@connectionID" name="connectionID" />
                    <div class="form-group" id="create-connection-msg">

                    </div>

                    <div class="form-group mt-2">
                        <label class="control-label">Username</label>
                        <input type="text" name="username" class="form-control form-group" placeholder="Username" autofocus autocomplete="new-password">
                    </div>
                    <div class="form-group mt-2">
                        <label class="control-label">Password</label>
                        <input type="password" name="password" class="form-control form-group" placeholder="Password" autocomplete="new-password">
                    </div>
                </div>
                <div class="modal-footer mt-2">
                    <button type="submit" class="btn btn-primary">Connect</button>
                </div>
            </div>
        </div>
    </div>
</form>